.gauth-signin-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem !important;
  width: 100% !important;
  max-width: 17rem !important;
  max-height: 5rem !important;
  white-space: nowrap !important;
  background: #2e80cc !important;
  color: white !important;
  padding-right: 1rem !important;
  cursor: pointer !important;
  font-size: 1rem !important;
  border-radius: 0.5rem !important;
  padding: 0.7rem 0 !important;
  font-weight: 600 !important;
  outline: none !important;
  border: none !important;
}
